<h2>新的包車需求單</h2>
<p><b>聯絡人：</b>{{contactName}} {{gender}}</p>
<p><b>手機：</b>{{phone}}</p>
<p><b>LINE：</b>{{lineId}}</p>
<p><b>聯絡方式：</b>{{contactMethod}}</p>
<p><b>聯絡時間：</b>{{contactTime}}</p>
<p><b>來源：</b>{{source}}</p>
<p><b>每人預算：</b>{{budget}}</p>
<p><b>想去的地區：</b>{{regions}}</p>
<p><b>人數：</b>大人 {{adults}} 小孩 {{children}}</p>
<p><b>旅遊天數：</b>{{days}} 天</p>
<p><b>出發日期：</b>{{departDate}}</p>
<p><b>心願清單：</b>{{wishlist}}</p>
<p><b>其他需求：</b>{{note}}</p>
