<p>
親愛的 {{contactName}}{{gender}}
</p>

<p>
感謝您提交旅遊諮詢需求表單，我們已順利收到您的資訊。
</p>

<hr>

<h3>您的需求內容如下：</h3>
<p><b>聯絡人：</b>{{contactName}} {{gender}}</p>
<p><b>手機：</b>{{phone}}</p>
<p><b>LINE：</b>{{lineId}}</p>
<p><b>聯絡方式：</b>{{contactMethod}}</p>
<p><b>聯絡時間：</b>{{contactTime}}</p>
<p><b>來源：</b>{{source}}</p>
<p><b>每人預算：</b>{{budget}}</p>
<p><b>想去的地區：</b>{{regions}}</p>
<p><b>人數：</b>大人 {{adults}} 小孩 {{children}}</p>
<p><b>旅遊天數：</b>{{days}} 天</p>
<p><b>出發日期：</b>{{departDate}}</p>
<p><b>心願清單：</b>{{wishlist}}</p>
<p><b>其他需求：</b>{{note}}</p>

<hr>

<p>
您的專屬旅遊規劃師將會於盡快與您聯繫，針對您的需求提供完整的規劃與報價。<br>
我們期待為您安排一段美好的旅程！
</p>

<p>
祝您一切順心，<br>
典藏旅遊 旅遊規劃師團隊
</p>
